$background: #121212;
$surface: #1E1E1E;
$light: #555;
$muted: rgba(255,255,255,.2);

$BORDER: 5px;

$spotify: #1DB954;

$mobile: 576px;
$tablet: 992px;

// Deprecated
$dark: #111111;
$border: rgba(0,0,0,.1);
$tan: #F1E3CE; // #F7F3ED;
$dark-tan: #D8CCB9;
$yellow: #FEBE26;
$orange: #FE672E;
$red: #F52D3A;
$pink: #D02467;
$purple: #710965;
$green: #60CC5E;

rounded {
  border-radius: $BORDER;
}

.section-header {
  line-height: 2;
  padding-left: $BORDER*2;
  font-size: 1.25rem;
  color: $muted;
}

hover {
  cursor: pointer;
  &:hover { background-color: #2E2E2E; }
}

.shadow {
  box-shadow: 5px 5px 10px black;
}

.container {
  max-width: 960px;
  @media (max-width: $mobile) {
    width: 100%;
  }
}
