@import 'variables';
.logged-out-container {
  @extend .container;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.logged-out-logo {
  margin-top: 35px;
  width: 40%;
}

.logged-out-caption {
  width: 40%;
  color: $muted;
  font-style: italic;
  text-align: center;
  margin-top: .65rem;
}

.logged-out-login {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 32px;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    min-width: 292px;
    border-radius: 56px;
    background-color: $spotify;
    color: #EFEFEF;
    font-weight: bold;
    text-decoration: none;
    &:hover { background-color: #1CB050; }
  }
}

.list-section-header {
  text-align: center;
  font-size: 1.25rem;
  color: $light;
  font-weight: bold;
  margin-bottom: 10px;
}
.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .list-item {
    @extend rounded;
    background-color: $surface;
    margin-bottom: 10px;
    width: 60%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    .list-number {
      font-size: 1.25rem;
      font-weight: bold;
      font-style: italic;
      padding: 10px;
      padding-right: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .list-description {
      text-align: justify;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  // background-color: red;
}

.git {
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: .65rem;
  line-height: 2;
  img {
    width: 32px;
  }
}

// Mobile support
@media (max-width: $mobile) {
  .logged-out-logo { width: 90%; }
  .logged-out-caption { width: 90%; }
  .list-item { width: 95% !important; }
}
