@import 'variables';
.logged-out-container {
  @extend .container;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.logged-out-logo {
  width: 40%;
}

.logged-out-description {
  width: 40%;
  color: $muted;
  font-style: italic;
  text-align: center;
  margin-top: .65rem;
}

.logged-out-login {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 32px;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    min-width: 292px;
    border-radius: 56px;
    background-color: $spotify;
    color: #EFEFEF;
    font-weight: bold;
    text-decoration: none;
    &:hover { background-color: #1CB050; }
  }
}

// Mobile support
@media (max-width: $mobile) {
  .logged-out-logo { width: 90%; }
  .logged-out-description { width: 90%; }
}
